.container {
    border-radius: 50%;
    width: min-content;
    padding: 20px;
    position: relative;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}

.list {
    display: flex;
    gap: 2px;
    align-items: center;
}
