.specializations_list {
    border: 1.5px solid rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: 200px;
    overflow: scroll;
}

.specializations_item {
    padding: 8px 10px;
    background: rgba(0,0,0,0.15);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.specializations_item_actions span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 23px;
    cursor: pointer;
}

.specializations_item:hover {
    background: rgba(0,0,0,0.12);
}