.container{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.label{
    font-weight: 700;
    margin: 0;
    color: lightslategray;
    font-size: 16.8px;
    width: 50%;
    display: flex;
    align-items: flex-start;
}

.children {
    width: 47%;
}