.container{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.label{
    font-weight: 700;
    margin: 0;
    color: lightslategray;
    font-size: 16.8px;
}